<html>
  <div class="header">
    <div class="container">
        <div class="head">
          <div class=" logo">
            <a routerLink="/home"><img src="./assets/images/wardrobe.png" alt=""></a>	
          </div>
        </div>
      </div>
      <div class="header-top">
        <div class="container">
        <div class="col-sm-5 col-md-offset-2  header-login">
              <ul >
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/cart">View Cart</a></li>
                <li><a href="order.html">My Order</a></li>
              </ul>
            </div>
            
         
            <div class="clearfix"> </div>
        </div>
        </div>
        
        <div class="container">
        
          <div class="head-top">
          
         <div class="col-sm-8 col-md-offset-2 h_menu4">
            <nav class="navbar nav_bottom" role="navigation">
     
     
      <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
       </div> 
      
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav nav_1 ">
                <li><a class="color" routerLink="/home">Home</a></li>
              
            <li class="dropdown mega-dropdown active">
              <a class="color1" href="#" class="dropdown-toggle" data-toggle="dropdown">Men<span class="caret"></span></a>				
            <div class="dropdown-menu ">
                        <div class="menu-top">
                <div class="col1">
                  <div class="h_nav">
                    <h4>Accessories</h4>
                      <ul>
                        <li><a  [routerLink]="['/prodone','Watches']">Watches</a></li>
                        <li><a  [routerLink]="['/prodone','Bags']">Bags</a></li>
                        <li><a [routerLink]="['/prodone','Caps & Hats']">Caps & Hats</a></li>
                        <li><a [routerLink]="['/prodone','Sunglasses']">Sunglasses</a></li>
                        
                      </ul>	
                  </div>							
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Top Wear</h4>
                    <ul>
                        <li><a [routerLink]="['/prodone','T-Shirts']">T-Shirts</a></li>
                        <li><a [routerLink]="['/prodone','Casual Shirts']">Casual Shirts</a></li>
                        <li><a [routerLink]="['/prodone','Formal Shirts']">Formal Shirts</a></li>
                        <li><a [routerLink]="['/prodone','Hoodies & Sweatshirts']">Hoodies & Sweatshirts</a></li>
                        <li><a [routerLink]="['/prodone','Jackets & Coats']">Jackets & Coats</a></li>
                      </ul>	
                  </div>							
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Bottom Wear</h4>
                      <ul>
                        <li><a [routerLink]="['/prodone','Jeans']">Jeans</a></li>
                        <li><a [routerLink]="['/prodone','Formal Trousers']">Formal Trousers</a></li>
                        <li><a [routerLink]="['/prodone','Casual Trousers']">Casual Trousers</a></li>
                        <li><a [routerLink]="['/prodone','Shorts']">Shorts</a></li>
                       
                        
                      </ul>	
                    
                  </div>							
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Extras</h4>
                    <ul>
                      <li><a [routerLink]="['/prodone','Sportswear']">Sportswear</a></li>
                      <li><a [routerLink]="['/prodone','Swimwear']">Swimwear</a></li>
                      <li><a [routerLink]="['/prodone','Shoes & Socks']">Shoes & Socks</a></li>
                      <li><a [routerLink]="['/prodone','Wallets']">Wallets</a></li>
                      <li><a [routerLink]="['/prodone','Ethnic Wear']">Ethnic Wear</a></li>
                    </ul>	
                  </div>							
                </div>
                <div class="col1 col5">
                <img src="./assets/images/me1.png" class="img-responsive" alt="">
                </div>
                <div class="clearfix"></div>
              </div>                  
            </div>				
          </li>
          <li class="dropdown mega-dropdown active">
              <a class="color2" href="#" class="dropdown-toggle" data-toggle="dropdown">Women<span class="caret"></span></a>				
            <div class="dropdown-menu mega-dropdown-menu">
                        <div class="menu-top">
                <div class="col1">
                  <div class="h_nav">
                    <h4>Accessories</h4>
                      <ul>
                          <li><a [routerLink]="['/prodone','Sunglasses']">Sunglasses</a></li>
                        <li><a [routerLink]="['/prodone','Watches']">Watches</a></li>
                        <li><a [routerLink]="['/prodone','Bags']">Bags</a></li>
                        <li><a [routerLink]="['/prodone','Caps & Hats']">Caps & Hats</a></li>
                        <li><a [routerLink]="['/prodone','Purse & HandBags']">Purse & HandBags</a></li>
                        
                      </ul>	
                  </div>							
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Top Wear</h4>
                    <ul>
                        <li><a [routerLink]="['/prodone','Kurtas']">Kurtas</a></li>
                        <li><a [routerLink]="['/prodone','T-Shirts']">T-Shirts</a></li>
                        <li><a [routerLink]="['/prodone','Casual Shirts']">Casual Shirts</a></li>
                        <li><a [routerLink]="['/prodone','Formal Shirts']">Formal Shirts</a></li>
                        <li><a [routerLink]="['/prodone','Sarees']">Sarees</a></li>
                        <li><a [routerLink]="['/prodone','Jackets & Coats']">Jackets & Coats</a></li></ul>	
                  </div>							
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Bottom Wear</h4>
                    
               <ul> 
                  <li><a [routerLink]="['/prodone','Payjamas']">Payjamas</a></li>
                    <li><a [routerLink]="['/prodone','Jeans']">Jeans</a></li>
                    <li><a [routerLink]="['/prodone','Formal Trousers']">Formal Trousers</a></li>
                    <li><a [routerLink]="['/prodone','Casual Trousers']">Casual Trousers</a></li>
                    <li><a [routerLink]="['/prodone','Shorts']">Shorts</a></li>
     
                      </ul>	
                    
                  </div>							
                </div>
                <div class="col1">
                  <div class="h_nav">
                        <h4>Extras</h4>
                        <ul>
                          <li><a [routerLink]="['/prodone','Sportswear']">Sportswear</a></li>
                          <li><a [routerLink]="['/prodone','Swimwear']">Swimwear</a></li>
                          <li><a [routerLink]="['/prodone','Shoes & Socks']">Shoes & Socks</a></li>
                          <li><a [routerLink]="['/prodone','Cosmetics']">Cosmetics</a></li>
                          <li><a [routerLink]="['/prodone','Ethnic Wear']">Ethnic Wear</a></li>
                    </ul>	
                  </div>							
                </div>
                <div class="col1 col5">
                <img src="./assets/images/me.png" class="img-responsive" alt="">
                </div>
                <div class="clearfix"></div>
              </div>                  
            </div>				
          </li>
          <!--<li><a class="color3" routerLink="/combo">Combos</a></li>-->
                <li ><a class="color6" routerLink="/contactus">Contact Us</a></li>
                <li ><a class="color6" routerLink="/aboutus" >About Us</a></li>
          
            </ul>
         </div>
    
    </nav>
          </div>
        
</div>
</div>
</div>
</html>