<app-header></app-header>
<div class="row cart-body">
<form class="form-horizontal" method="post" action="">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">

<div class="panel panel-info">
    <div class="panel-heading">
        Review Order <div class="pull-right"><small><a class="afix-1" href="#">Edit Cart</a></small></div>
    </div>
    <div class="panel-body">
        <div class="form-group" *ngFor="let item of cart">
            <div class="col-sm-3 col-xs-3">
                <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg" />
            </div>
            <div class="col-sm-6 col-xs-6" >
                <div class="col-xs-12">{{item.pro_name}}</div>
                <div class="col-xs-12"><small>Quantity:<span>{{item.cart_qty}}</span></small></div>
            </div>
            <div class="col-sm-3 col-xs-3 text-right">
                <h6><span>${{item.cart_amount}}</span></h6>
            </div>
            <div class="col-sm-3 col-xs-3 text-right">
                    <h6><span>${{item.cart_amount1}}</span></h6>
                </div>
            
        </div>
        <div class="form-group"><hr /></div>
     
           
        <div class="form-group"><hr /></div>
        <div class="form-group">
            <div class="col-xs-12">
                <strong>Order Total</strong>
                <div class="pull-right"><span>$</span><span>{{sum}}</span></div>
            </div>
        </div><a routerLink='/payment' class=" hvr-skew-backward">Procceed Payment</a><br><br>
    </div>
</div>
</div>
</form>
</div>