<app-header></app-header>
<div class="banner-top">
	<div class="container">
		<h1>Login</h1>
		<em></em>
	</div>
</div>

<div class="container">
  <div class="login">
  
    <form>
    <div class="col-md-6 login-do">
      <div class="login-mail">
        <input type="text" placeholder="Email" [(ngModel)]="pk_email_id" required="" name="email">
        <i  class="glyphicon glyphicon-envelope"></i>
      </div>
      <div class="login-mail">
        <input type="password" placeholder="Password"  [(ngModel)]="u_password" required="" name="pw">
        <i class="glyphicon glyphicon-lock"></i>
      </div>
          <label class="hvr-skew-backward">
        <input type="submit" value="login" (click)="onLogin()">
      </label>
    </div>
    <div class="col-md-6 login-right">
       <h3>Completely Free Account</h3>
       
       <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio 
       libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
      <a routerLink="/register" class=" hvr-skew-backward">Register</a>

    </div>
    
    <div class="clearfix"> </div>
    </form>
  </div>

</div>
<br>
<app-footer></app-footer>
