<app-header></app-header>
<div class="banner-top">
    <div class="container">
      <h1>About Us</h1>
      <em></em>
      
    </div>
  </div>

  <div class="contact">
      <div class="contact-form">
          <div class="container">
              <div class="col-md-6 contact-left">
                  <h3>Company Details:</h3><br><br>
                  <img src="./assets/images/papa.jpg" height="400" width="400"/>
                  </div>
                  <div class="col-md-6 contact-top">

                  <div class="address">
                  <div class=" address-grid">
                      <i class="glyphicon glyphicon-map-marker"></i>
                      <div class="address1">
                        <h3>Address:</h3>
                        <p>
                            23,RadhaKrishnaAvenue,<br>
                             Opp.GoldenTriangle, StadiumRoad,<br>
                              Navrangpura,Ahmedabad-18,<br>
                               Gujarat,India.

                        </p>
                      </div>
                      <div class="clearfix"> </div>
                    </div>

                    <div class=" address-grid ">
                        <i class="glyphicon glyphicon-bell"></i>
                        <div class="address1">
                          <h3>Our Phone:</h3>
                          <p>+919428106009</p>
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                      <div class=" address-grid ">
                          <i class="glyphicon glyphicon-bell"></i>
                          <div class="address1">
                            <h3>Email:</h3>
                            <p>sales.hemal@gmail.com</p>
                          </div>
                          <div class="clearfix"> </div>
                        </div>
                         
                    <div class=" address-grid ">
                        <i class="glyphicon glyphicon-bell"></i>
                        <div class="address1">
                          <h3>Open Hours:</h3>
                          <p>Monday-Friday, 7AM-5PM</p>
                        </div>
                        <div class="clearfix"> </div>
                      </div>

                    </div>
        </div>
                </div>

                 
          
        </div>
  </div>
<app-footer></app-footer>

