.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-full-width {
    width: 100%;
    font-size: 20px;
   
  }
  .table{
    height:50%;
     width:70%;
     border: 1px;
  }
  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}
.link{
    font-size: 15px;
}