<app-header></app-header>
<div class="banner-top">
    <div class="container">
      <h1>Contact Us</h1>
      <em></em>
      
    </div>
  </div>
<div class="contact">
					
  <div class="contact-form">
    <div class="container">
        <div class="col-md-6 contact-left">
						<h3>At vero eos et accusamus et iusto odio dignissimos ducimus qui </h3>
						<p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas. </p>
					</div>

<div class="col-md-6 contact-top">
  <h3>Have any Queries?</h3>
  <form>
    <div>
      <span>Your Name </span>		
      <input type="text" value="" >						
    </div>
    <div>
      <span>Your Email </span>		
      <input type="text" value="" >						
    </div>
    <div>
      <span>Subject</span>		
      <input type="text" value="" >	
    </div>
    <div>
      <span>Your Message</span>		
      <textarea> </textarea>	
    </div>
    <label class="hvr-skew-backward">
        <input type="submit" value="Send" >
    </label>
</form>						
</div>
</div>
</div>
</div>
<app-footer></app-footer>
